* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: courier new,serif;
}
h1 {
    margin: 100px;
    text-transform: capitalize;
    color: #C38D94;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
}
.dice-container {
    display: flex;
    margin: 0 auto;
}
.dice-container div {
    width: 100px;
    height: 100px;
    /* float: left; */
    background-color: #CAB7A2;
    border: 1px solid #C4B1AE;
}